<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springsecuritylearn.dao.SysRoleDao">
    <resultMap id="BaseRoleType" type="com.example.springsecuritylearn.entity.SysRole">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getRoleById" resultMap="BaseRoleType" >
        select * from sys_role where id = #{id}
    </select>
</mapper>